{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h3 class="mb-3">Buy</h3>
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placeholder="Number of shares" type="number">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Buy
        </div>
    </form>
{% endblock %}
